video {
    display: inline-block;
    vertical-align: baseline;
}

body {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    /* letter-spacing: 0.1em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
      "Arial", sans-serif; */
    background-color: #fff;
    color: #333;
    font-style: normal;
}

.animation-section {
    visibility: visible;
    opacity: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100%;
    /* min-height: 100vh; */
}

.hero-video-group {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 44px);
    margin-top: 44px;
}

.cta-button {
    font-weight: 600;
}

.cta-button {
    display: inline-block;
    -webkit-transition: 300ms background cubic-bezier(0.4, 0, 0.6, 1), 300ms color cubic-bezier(0.4, 0, 0.6, 1);
    transition: 300ms background cubic-bezier(0.4, 0, 0.6, 1), 300ms color cubic-bezier(0.4, 0, 0.6, 1);
    line-height: 46px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 0 23px;
    border-radius: 46px;
    margin-bottom: 1px;
    cursor: pointer;
}

.cta-button:hover {
    text-decoration: none;
    background-color: white;
    color: black;
}

.overview-section-copy {
    max-width: 640px;
}

.animation-content .overview-section-copy {
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

@media only screen and (max-width: 1068px) {
    .animation-content .overview-section-copy {
        margin-top: 0.8em;
        margin-bottom: 0.8em;
    }
}

@media only screen and (max-width: 735px) {
    .animation-content .overview-section-copy {
        margin-top: 0.4em;
        margin-bottom: 0.4em;
    }
}

@media only screen and (max-width: 735px) {
    .animation-content .overview-section-copy {
        padding-right: 20px;
    }
}

.animation-content .overview-section-copy {
    color: white;
}

.animation-content .animation-content-copy .c-1 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
}

.animation-content h2 span {
    display: block;
}

.animation-content .overview-section-eyebrow {
    margin-bottom: 12px;
    max-width: 640px;
}

.main-header {
    font-size: 32px;
    line-height: 1.25;
    font-weight: 400;
    letter-spacing: 0.004em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.animation-content .overview-section-eyebrow,
.animation-content .overview-section-headline,
.animation-content .overview-section-copy {
    max-width: 250px;
}

.animation-content .overview-section-headline,
.animation-content .overview-section-eyebrow,
.animation-content .overview-section-copy {
    color: white;
}

.inside-header {
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -0.015em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.animation-section .animation-sidebar {
    position: absolute;
    background: white;
}

.animation-section .animation-sidebar-top,
.animation-section .animation-sidebar-bottom {
    width: 100%;
    height: 10vh;
}

@media only screen and (max-width: 1068px) {
    .animation-section .animation-sidebar-top,
    .animation-section .animation-sidebar-bottom {
        height: 66px;
    }
}

@media only screen and (max-width: 735px) {
    .animation-section .animation-sidebar-top,
    .animation-section .animation-sidebar-bottom {
        height: 40px;
    }
}

.animation-section .animation-sidebar-left,
.animation-section .animation-sidebar-right {
    height: 100%;
    width: 90px;
}

@media only screen and (max-width: 1068px) {
    .animation-section .animation-sidebar-left,
    .animation-section .animation-sidebar-right {
        width: 66px;
    }
}

@media only screen and (max-width: 735px) {
    .animation-section .animation-sidebar-left,
    .animation-section .animation-sidebar-right {
        width: 40px;
    }
}

.animation-section .animation-sidebar-top,
.animation-section .animation-sidebar-left {
    top: 0;
    left: 0;
}

.animation-section .animation-sidebar-bottom,
.animation-section .animation-sidebar-right {
    bottom: 0;
    right: 0;
}

.animation-section .animation-sidebar-top {
    -webkit-transform-origin: center top;
    transform-origin: center top;
}

.animation-section .animation-sidebar-right {
    -webkit-transform-origin: right center;
    transform-origin: right center;
}

.animation-section .animation-sidebar-bottom {
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.animation-section .animation-sidebar-left {
    -webkit-transform-origin: left center;
    transform-origin: left center;
}

.animation-content {
    position: relative;
    z-index: 1;
    margin: -25vh 5vw 0;
    min-height: calc(100vh - 30vh);
}

.animation-sidebar {
    -webkit-transition: 500ms linear;
    -moz-transition: 500ms linear;
    -o-transition: 500ms linear;
    -ms-transition: 500ms linear;
    transition: 500ms linear;
}

.animation-element {
    transition: transform 2s;
}

@keyframes fadeoutFast {
    100% {
        opacity: 0;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    66% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeout {
    0% {
        opacity: 1;
    }
    66% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}

.demo-section-1,
.demo-section-2 {
    width: 100%;
    height: 100%;
}

.video-container,
.video-container video {
    width: 100%;
    height: 100vh;
}

.video-container video {
    opacity: 1;
    object-fit: cover;
}

.overview-section-copy {
    font-size: 25px;
}

.main-animation-content {
    margin-top: 45px;
    position: absolute;
}