@media screen and (max-width: 1280px) {
  .overview-section-eyebrow {
    font-size: 80px;
    transform: translate(145px, -300px);
    opacity: 1;
  }
  .overview-section-headline {
    font-size: 80px;
    transform: translate(145px, -300px);
    opacity: 1;
  }
  .home-inside-header {
    transform: translate(150px, -105px);
    opacity: 1;
  }
}
@media screen and (max-width: 1199px) {
  .menubar-area a {
    font-size: 15px;
  }
  .portfolio-content {
    width: 49.5%;
  }
  .about-img img {
    min-height: 800px;
  }
  .overview-section-eyebrow {
    font-size: 80px;
    transform: translate(30%, -550%);
    opacity: 1;
  }
  .overview-section-headline {
    font-size: 80px;
    transform: translate(22.5%, -460%);
    opacity: 1;
  }
  .home-inside-header {
    transform: translate(40.5%, -660%);
    opacity: 1;
  }
  .animation-content{
    min-height: calc(40vh - 50px)!important;
  }
  .about-section-second{
    padding: 8vw 2vw 8vw 14vw;
  }
  .about-section-second .about-section-second-div{
    height: 125px;
  }
}

@media screen and (max-width: 992px) {
  .portfolio-content {
    width: 100%;
  }
  .about-img {
    margin-right: 0;
  }
  .about-img img {
    width: 100%;
  }
  .about-title {
    text-align: center;
  }
  .single-about-box {
    text-align: center;
  }
  .single-about-box h2,
  .single-about-box p {
    padding-left: 0;
  }
  .single-about-box i.fa {
    float: none;
  }
  .skillbar {
    text-align: center;
  }
  .overview-section-eyebrow {
    font-size: 80px;
    transform: translate(45px, -200px);
    opacity: 1;
  }
  .overview-section-headline {
    font-size: 80px;
    transform: translate(45px, -200px);
    opacity: 1;
  }
  .home-inside-header {
    transform: translate(47px, -30px);
    opacity: 1;
  }
  .about-section-second {
    padding: 60px 50px 60px 120px;
    justify-content: space-between;
  }
  .about-section-second-header {
    font-size: 20px;
  }
  .inner-circle {
    width: 120px;
    height: 120px;
  }
  .circle {
    width: 155px;
    height: 155px;
  }
}

@media screen and (max-width: 767px) {
  .hero-bg {
    height: 800px;
  }
  .hero-area-inner h1 {
    font-size: 35px;
  }
  .single-about-box {
    margin-top: 15px;
  }

  .footer-social-links a {
    margin-bottom: 10px;
  }

  .hero-area-slider .owl-dots {
    right: auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero-area-slider .owl-dots div {
    display: inline-block;
    margin-right: 10px;
  }
  .overview-section-eyebrow {
    font-size: 80px;
    transform: translate(45px, -220px);
    opacity: 1;
  }
  .overview-section-headline {
    font-size: 80px;
    transform: translate(45px, -220px);
    opacity: 1;
  }
  .home-inside-header {
    transform: translate(47px, -50px);
    opacity: 1;
  }
}

@media screen and (max-width: 560px) {
  .overview-section-eyebrow {
    transform: translate(45px, -100px);
    opacity: 0;
    font-size: 30px;
  }
  .overview-section-headline {
    transform: translate(45px, -100px);
    opacity: 0;
    font-size: 30px;
    margin-top:35px;
  }
  .home-inside-header {
    transform: translate(47px, -40px);
    opacity: 1;
    font-size: 15px;
  }
  .about-section-first,
  .about-section-third,
  .about-section-fourth,
  .portfolio-section {
    padding: 20vw 5vw;
    min-height: 80vh;
  }
  .about-section-first .about-section-first-div,
  .about-section-third .about-section-third-first-div,
  .about-section-fourth .about-section-fourth-first-div {
    width: 50%;
    font-size: 20px;
    padding: 3vw;
  }
  .about-section-first .about-section-second-div,
  .about-section-third .about-section-third-second-div,
  .about-section-fourth .about-section-fourth-second-div {
    width: 50%;
    padding: 3vw;
  }
  .animation-content {
    min-height: calc(32vh - 52px) !important;
  }
  .about-section-second {
    padding: 70px 10px 70px 0px;
  }
  .about-section-second {
    display: block;
  }
  .about-section-second .about-section-second-div {
    width: 85%;
    height: 31vh;
  }
  .circle {
    transform: translate(28vw, -107%);
  }
  .about-section-second .about-section-second-div p {
    justify-content: flex-start;
    display: flex;
  }
  .about-section-second .about-section-second-div p:nth-child(1) {
    margin-left: 43vw;
  }
  .about-section-second .about-section-second-div p:nth-child(2) {
    margin-left: 44vw;
  }
  .portfolio-section {
    align-items: flex-start;
  }
  .portfolio-section-first-div {
    width: 50%;
    padding: 3vw;
  }
  .portfolio-section-second-div {
    width: 50%;
    padding: 5vw;
    display: flex;
    justify-content: space-evenly;
  }
  .portfolio-section-row {
    display: block;
  }
  .portfolio-section-second-p {
    font-size: 25px;
  }
  .portfolio-section-row div {
    width: 20vw;
    height: 20vw;
  }
  .menubar-area li:not(:last-child) {
    padding: 0;
  }
  .navbar-nav .nav-link {
    text-align: center;
  }
  .social-media-icon-li {
    padding: 10px;
    justify-content: center;
  }
  .navbar {
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 320px) {
  .navbar-toggler {
    padding-left: 0;
  }
  .menubar-area li {
    padding-left: 0;
  }
  .menubar-area li:not(:last-child) {
    padding: 0;
  }
  .navbar-nav .nav-link {
    text-align: center;
  }
  .social-media-icon-li {
    padding: 10px;
    justify-content: center;
  }
  .navbar {
    padding: 0.5rem 1rem;
  }
}
